body{
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

div input[type=number]{
    margin: 2px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

div input[type=number]:read-only{
    padding: 8px;
    border: solid 2px black;
    background-color: rgb(190, 185, 185);
}

div button{
    margin: 2px 4px;
    padding: 4px;
    width: 35px;
    text-align: center;
    padding: 6px 6px 6px;
    background-color: rgb(217, 213, 213);
    border-radius: 10px ;
}